.project-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    z-index: -2;
}

.project-container{
    background-color: var(--dark_blue);
}

.image-slider{
    position: relative;
    width: 100%; /* Adjust this as needed */
    height: 0;
    padding-bottom: 50%; /* This sets the aspect ratio (height/width) to 4:3 */
    overflow: hidden; 
}

.image-slider div{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: 2s ease-in-out;
    height: 100%;
    width: 100%;  
}
.image-slider div.from-left{
    transform: translateX(-100%);
}
.image-slider div.show-image{
    transform: translateX(0);
}

.image-slider div img{
    width: 100%;
    height: 100%;
}

.imgSlider-btn{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}
.imgSlider-btn p{
    color: var(--white);
    padding: 2px 15px;
    margin: 2px;
}
.imgSlider-btn button{
    display: flex;
    background-color: var(--dark_blue);
    color: var(--light_green);
    font-size: 16px;
    padding: 2px 15px;
    border: 1px solid var(--light_green);
    border-radius: 10px;
    margin: 2px;
}
.imgSlider-btn button:hover{
    background-color: rgb(23, 22, 22);
}
.project-info{
    padding: 0 7px 7px;
}
.project-info div{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
}
.project-info div a{
    display: flex;
    font-size: 20px;
    color: var(--light_green);
    padding: 0 10px;
}
.project-description {
    height: 100px;
    overflow: auto;
    color: var(--white);
    margin-bottom: 7px;
}
.project-description::-webkit-scrollbar{
    width: 3px;
}
.project-description::-webkit-scrollbar-track{
    background-color: var(--ash);
}
.project-description::-webkit-scrollbar-thumb{
    background-color: var(--light_green);
}
.project-keyword{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}
.project-keyword span{
    border-radius: 5px;
    border: 1px solid var(--light_green);
    font-size: 12px;
    padding: 2px;
    color: var(--light_green);
}

/* edit and delete */

@media (max-width:768px) {
    .project-list{
        grid-template-columns: 1fr;
    }
}

