.waiting{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
}

.waiting h4{
    color: var(--light_green);
    font-size: 2rem;
    z-index: 1;
}
.waiting >div {
    position: absolute;
    height: 100%;
    width: 100%;
    color: black;
    opacity: 0.1;
    font-size: 80vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .waiting h4{
        font-size: 1.5rem;
    }
    .waiting >div {
        font-size: 100vw;
    }
}